{% extends "_layout/sidebar.html.twig" %}
{% block title %}Nouvelle annonce!{% endblock %}
{% block content %}
    <h1>Nouvelle annonce</h1>
    {{ include("annonce/form.html.twig", {form: form, button: 'Créer'}) }}
{% endblock %}
