{% extends "_layout/sidebar.html.twig" %}
{% block title %}Éditer l'annonce!{% endblock %}
{% block content %}
    <h1>Éditer l'annonce</h1>
    {{ include("annonce/form.html.twig", {form: form, button: 'Éditer'}) }}
{% endblock %}

