{% block content %}
    <div class="container">
        <h1>Éditer l'annonce</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
